@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.node circle {
	fill: rgb(247, 106, 214);
	stroke: rgb(184, 37, 81);
	stroke-width: 1.5px;
}

.node text {
	font-size: 11px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: black;
	fill: black;
}

.node {
	cursor: pointer;
}

path.link {
	fill: none;
	stroke: #2593B8;
	stroke-width: 1.5px;
}

.red {
	fill: none;
	stroke: red;
	stroke-width: 1.5px;
	stroke-dasharray: 5;
}

.yellow{
	fill: none;
	stroke: yellow;
	stroke-width: 1.5px;
}

.grey{
	fill: none;
	stroke: grey;
	stroke-width: 1.5px;
}

.black{
	fill: none;
	stroke: black;
	stroke-width: 1.5px;
}

.blue{
	fill: none;
	stroke: blue;
	stroke-width: 1.5px;
}

.green{
	fill: none;
	stroke: green;
	stroke-dasharray: 5;
	stroke-width: 1.5px;
}

.purple{
	fill: none;
	stroke: purple;
	stroke-width: 1.5px;
}


/* ========= */

.button2 {
	
    transition: all 0.2s ease-in;
    overflow: hidden;
    z-index: 1;
    color: black;
    cursor: pointer;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
  } 
   @media only screen and (max-width: 767px) {
    .button2 {
      font-size: 1rem;
      padding: 0.5em 1.5em;
     
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .button2 {
      font-size: 1.3rem;
      padding: 0.6em 1.6em;
    }
  }
  .button2:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }  .button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  } 
  
  .button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #2f3030;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  } 
   .button2:hover .logouticon {
    color: #ffffff;
 
  }
  
  .button2:hover {
    color: #ffffff;
    border: 1px solid #313232;
  } 
  
  button2:hover:before {
    top: -35%;
    background-color: #313232;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button2:hover:after {
    top: -45%;
    background-color: #282929;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .conatct-bg{
    background-color: rgb(241, 241, 241);
  }



  .paginationBtn:hover{
    transition: 0.5s ease-in-out;
    color: red;
  }
  .uploadCard{
    transition: 0.5s ease-in-out;
  }
  .uploadCard:hover{
    
    background-color: rgba(46, 55, 86, 0.082);
  }

  